export(regressao)
export(predicao)
export(graficos)
importFrom(dplyr, select)
importFrom(ggplot2, ggplot, aes, geom_point, geom_abline, labs, theme_bw)
importFrom(testthat, expect_error, expect_true, expect_equal)

